#CustomerRepairLog__container {
  margin-top: 40px;
}

#CustomerRepairLog__log {
  border: none;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  height: 50px;
  width: 300px;
  resize: none;
  margin-right: 10px;
}

#CustomerRepairLog__log:disabled {
  cursor: no-drop;
}

#CustomerRepairLog__editBtn {
  padding: 0px 16px;
  border-radius: 2px;
  background-color: #e4e4e4;
  border: none;
  font-size: 15px;
  height: 30px;
  margin-right: 10px;
  width: 60px;
  cursor: pointer;
  position: relative;
  top: -20px;
}

#CustomerRepairLog__saveBtn {
  padding: 0px 16px;
  border-radius: 2px;
  background-color: #4fc3f7;
  color: white;
  border: none;
  font-size: 15px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  top: -20px;
}