#CustomerInformation__container {
  width: 100%;
  justify-content: center;
}

#CustomerInformation__fullName {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

#CustomerInformation__id {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 15px;
  font-weight: 400;
}