#Header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.23);
}

#Header__text {
  margin: 0;  
}